body{
	margin: 0;
	font-family: 'gabriola','Calibri','Sans-serif'; 
	font-size:30px;
	line-height: 40px;
}
header{
	opacity: 95%;
	background-image: url(https://i.pinimg.com/originals/c2/68/80/c26880fd3de34961f17a06c2a5843ad7.jpg); 
	text-align: center;
	padding-top: 80px;
	padding-bottom: 0.01px;
}
h1, h2{
	font-family: 'Domine', serif;
	font-size: 40px; 
}
header h1{
	color: white;
	font-size: 70px;
	animation-fill-mode: all;
	}
	/*header*/
header img{
	border-radius: 300px;
	width: 300px;
	border: 2px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}
h2{
	margin: 40px 0 10px;
}
h3{
	text-align: center;
	color: grey;
	font-size: 50px;
	line-height: 60px;

}
a{
	color: blue;
}
a:hover{
	color: white;
	background-color: #483a94;
}
footer{
	background-color: black; 
	text-align: center;
	color: white;
	padding: 50px;
}
footer p{
	margin: 0;
}
footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;

}
p.caption{
	color: #C1BEBD;
	font-style: italic;
	margin-top: 0;
}